* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--white-color);
}

a {
  text-decoration: inherit;
}

/* ---------***ROOT-ELEMENT------------ */

:root {
  --primary-color: #3858d6;
  --secondary-color: #eb7724;
  --dark-color: #202020;
  --white-color: #f4f4f4;
  --landing-page-gray: #dcdee8;
  --main-gray: #7e7e76;
  --body-font: 0.875rem;
  --h3-font: 3rem;
  --h4-font: 2rem;
  --h5-font: 1.5rem;
  --light-font: 300;
  --regular-font: 400;
  --bold-font: 800;
}

/* ---------ROOT-ELEMENT***------------ */

/* ----------***HEADER---------- */

header {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0rem;
  position: sticky;
  background: var(--white-color);
  z-index: +1;
}

nav {
  width: 83.3%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--dark-color);
  font-size: var(--h5-font);
  font-weight: var(--bold-font);
  transition: all 0.15s ease-in-out;
}

.logo:hover {
  color: var(--primary-color);
  transition: all 0.15s ease-in-out;
}

.nav-ul {
  width: 34rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.a-header {
  color: var(--dark-color);
  font-size: var(--body-font);
  font-weight: var(--regular-font);
  transition: all 0.15s ease-in-out;
}

.a-header:hover {
  color: var(--primary-color);
  font-size: var(--body-font);
  transition: all 0.15s ease-in-out;
}

.subscribe-btn {
  background: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--white-color);
  font-size: var(--body-font);
  font-weight: var(--regular-font);
  transition: all 0.15s ease-in-out;
}

.subscribe-btn:hover {
  color: var(--primary-color);
  background: var(--white-color);
  transition: all 0.15s ease-in-out;
}

/* ----------HEADER***---------- */

/* -----------***BOTTOM-NAVIGATION-BAR---------- */

.float-nav {
  width: 95%;
  height: 3rem;
  position: fixed;
  top: auto;
  bottom: 1rem;
  padding: 0.5rem 1rem;
  background: var(--white-color);
  box-shadow: 4px 4px 4px 2px rgba(32, 32, 32, 0.2);
  border-radius: 1rem;
  float: bottom;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: none;
}

.nav-icon-box {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.a-align {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

/* -----------BOTTOM-NAVIGATION-BAR***---------- */

/* ----------***SECTION-1---------- */

.sec-1 {
  width: 100%;
  height: 94vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(Images/Landing-page-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-1-container {
  width: 66.4%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.sec-1-h-3 {
  font-size: var(--h3-font);
  font-weight: var(--bold-font);
  color: var(--white-color);
}

span.most {
  color: var(--primary-color);
}

span.dot,
span.plus {
  color: var(--secondary-color);
}

.sec-1-p {
  font-size: var(--body-font);
  font-weight: var(--regular-font);
  color: var(--landing-page-gray);
  margin-top: 0.5rem;
}

.search-container {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white-color);
}

.search-input {
  width: 80%;
  height: 3rem;
  border: 0;
  background: none;
  border-radius: 1rem;
  color: var(--dark-color);
  padding-left: 1rem;
}

.search-btn {
  width: 20%;
  height: 3rem;
  border-radius: 1rem;
  border: 0;
  background: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  font-size: var(--body-font);
  font-weight: var(--regular-font);
}

.search-btn:hover {
  background: var(--white-color);
  color: var(--primary-color);
  transition: all 0.15s ease-in-out;
}

.number-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.number-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h-5-number {
  font-size: var(--h5-font);
  font-weight: var(--bold-font);
  color: var(--white-color);
}

.p-number {
  font-size: var(--body-font);
  font-weight: var(--regular-font);
  color: var(--landing-page-gray);
}

/* ----------SECTION-1***---------- */

/* ----------***SECTION-2---------- */

.sec-2 {
  width: 100%;
  height: auto;
  background: var(--white-color);
  padding: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-2-container {
  width: 83.3%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 3.5rem;
  column-gap: 2rem;
}

.company-logo {
  width: 11.5rem;
  height: auto;
}

.third-logo {
  width: 13.5rem;
}

/* ----------SECTION-2***---------- */

/* ----------***MEDIA-QUERY---------- */

@media screen and (min-width: 1024px) {
}

@media screen and (max-width: 999.9px) {
  .nav-ul {
    display: none;
  }

  .float-nav {
    display: block;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .sec-1-container {
    width: 83.3%;
  }
}

@media screen and (max-width: 549.9px) {
  span.nav {
    display: none;
  }

  .search-input {
    width: 70%;
  }

  .search-btn {
    width: 30%;
  }
}

/* ----------MEDIA-QUERY***---------- */
